<div class="rails-cube">
  <h1>Rails Cube</h1>
</div>
  <h2>Hard Coded Cube</h2>
<div class="cube-container">
  <div class="wrap">
  	<div class="cube">
      <div class="top">top</div>
      <div class="bottom">bottom</div>
  		<div class="back"><iframe src="https://giphy.com/embed/fFh5mYdX12Fiw" width="100%" height="100%"></iframe></div>
      <div class="front"><iframe src="https://giphy.com/embed/Mb95A38vKwUYo" width="200" height="200"></iframe></div>
      <div class="right"><iframe src="https://giphy.com/embed/6KJETodkgF2Lu" width="200" height="200"></iframe></div>
  		<div class="left"><iframe src="https://giphy.com/embed/owCYVAhRRmRsA" width="200" height="200"></iframe></div>
  	</div>
  </div>
</div>


<%= link_to "Home", root_path %>
